body {
    background-color: #f2f2f2;
    font-family: system-ui;
    font-weight: normal;
    font-size: 13px;
    background-image: url(/static/images/888.jpg);

}
.table {
border: 0.5px solid #0e2c2a;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
border: 0.5px solid #1561942a;
}
nav {
    border-radius: 10px;
}
input {
    border-radius: .25rem;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#row1 {
    padding-top: 10px;
}
#ro2 {
    padding-top: 10px;
}
#row3 {
    padding-top: 10px;
}
#btn1 {
    background-color: rgb(94, 164, 255);
    cursor: pointer;
    margin-top: 5px;
}
#image {
    border-radius: 30px;
}

#p1 {
    margin-bottom: 0px;
}

#p2 {
    margin-bottom: 0px;
}

#btninfo {
    margin-left: 10px;
    background-color: transparent;
}

#info {
    font-size: 100%;
    background-color: transparent;
    color: rgb(31, 230, 91);
    padding-top: 12px;
}

#form_select {
    width: 710px;
}

#tableSSI {
    margin-top: 10px;
}

#form_key1 {
    height:250px;
    width:500px;
}
#form_createmea1 {
    height:200px;
    width:600px;

}
#form_table_meas {
    height:200px;
    width:180px;
}

#row-in_createconfig1 {
    margin-top: 10px;
}

#id_key {
    height:21px;
    width:166px;
}

#del {
    margin-top: 5px;
}