body {
    background-color: #f2f2f2;
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 13px;
    /* background-image: url(/static/images/white.png); */
}
nav {
    border-radius: 10px;
}
input {
    border-radius: .25rem;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#row1 {
    padding-top: 10px;
}
#ro2 {
    padding-top: 10px;
}
#row3 {
    padding-top: 10px;
}
#btn1 {
    background-color: rgb(94, 164, 255);
    cursor: pointer;
    margin-top: 5px;
}
#image {
    border-radius: 30px;
}

#p1 {
    margin-bottom: 0px;
}

#p2 {
    margin-bottom: 0px;
}

#btninfo {
    margin-left: 10px;
    background-color: transparent;
}


#info {
    font-size: 100%;
    background-color: transparent;
    color: rgb(31, 230, 91);
    padding-top: 12px;
}

#form_select {
    width: 830px;
}

#tableSSI {
    margin-top: 10px;
}
