{% extends 'app/base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Добро пожаловать!</h1>
        <p class="lead">Перед началом проведения работ необходимо зарегистрироваться!</p>
        <hr class="my-2">
        <div class="row justify-content-center">
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
                <div class="form-group ">
                    <p id="p1" ><label>{{ form.username.label_tag }}</label></p>
                    <p>{{ form.username }}</p>
                <div class="form-group">
                    <p id="p2" ><label>{{ form.password.label_tag }}</label></p>
                    <p>{{ form.password }}</p>
                </div>
                <input type="submit" value="login"/>
                <input type="hidden" name="next" value="{{ next }}"/>      
            </form> 
            <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>  
        
            {% if form.errors %}
                <p>Ваш логин или пароль не верны. Пожалуйста, попробуйте еще раз.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p>Ваш аккаунт не имеет доступ к этой странице. Войдите в аккаунт чтобы получить доступ.</p>
                {% else %}
                <p>Пожалуйста, войдите чтобы увидеть эту страницу.</p>
                {% endif %}
            {% endif %}               
        </div>
    </div>
{% endblock %}
