{% extends 'app/base.html' %}
{% block content %}

<div class="container-fluid">
    <div id="row1" class="row">
        <div id= "col1" class="col-md-2">
            <form method="POST" class="post-form">{% csrf_token %}
                <label class="d-flex flex-wrap align-content-start" for="id_name">Имя SSI:</label>
                <input type="text" name="name" maxlength="50" required="" id="id_name" placeholder="SSI_1">                                    
                <label for="id_input_frequency">Входная частота,ГГц:</label>
                <input type="number" name="input_frequency" required="" id="id_input_frequency" placeholder="28">
                {% comment %} <div>{{ form.input_frequency}}</div> {% endcomment %}
                <button id = "btn1" type="submit" class="save btn btn-primary">Добавить SSI</button>                   
            </div>       
            <div class="col-md-2">
                <label for="id_band_frequency">Полоса частот,МГц:</label>
                <input type="number" name="band_frequency" required="" id="id_band_frequency" placeholder="34">                
                <label for="id_output_frequency">Выходная частота,ГГц:</label>
                <input type="number" name="output_frequency" required="" id="id_output_frequency" placeholder="78">
                {% comment %} <div>{{ form.output_frequency}}</div> {% endcomment %}
            </div>
            <div class="col-md-1">
                <label for="id_available_meas">Тип измерения:</label>
                <div id='div1'>{{ form.available_meas}}</div>
        </div>            
            </form>
        <div class="col-md-7 " >    
            <form action = "filter/" method="POST" class="post-form "> {% csrf_token %}
                <select id = 'form_select' name="choice" id="id_choice" class="custom-select" >
                <option selected>Все диапазоны</option>
                {% for i in freq %}
                    <option value={{i}}>{{i}}</option>
                {% endfor %}
                </select>
                {% comment %} <div >{{formfreq.choice}}</div> {% endcomment %}
                <button type="submit" class="save btn btn btn-primary">Сортировать</button>
            </form>  
            <table class="table table-bordered">
                <thead class="thead-light"> 
                    <tr>
                        <th>Имя SSI</th>
                        <th>Входная частота, ГГц</th>
                        <th>Выходная частота, ГГц</th>
                        <th>Полоса частот, МГц</th>
                        <th>Выбранные измерения</th>
                        <th>Частотный диапазон</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in Freqmodel.all %}
                        <tr>
                            <td>{{i.ssi_element.name}}</td>
                            <td>{{i.ssi_element.input_frequency}}</td>
                            <td>{{i.ssi_element.output_frequency}}</td>
                            <td>{{i.ssi_element.band_frequency}}</td>
                            <td>
                            {% for meas in i.ssi_element.available_meas.all %}
                                {{meas.name}}
                            {% endfor %}
                            </td>
                            <td>{{i.name}}</td>
                            <td><a href={% url 'ssi_remove_ssilist' i.ssi_element.id %} class="btn btn-danger">Delete</a></td> 
                            {% comment %} Доступ через SSI к SSI {% endcomment %}
                            {% comment %} <td>{{s.input_frequency}}</td>
                            <td>{{s.output_frequency}}</td>
                            <td>{{s.band_frequency}}</td>                                      
                            <td>
                                {% for meas in s.available_meas.all %}
                                    {{meas.name}}
                                {% endfor %}
                            </td>
                            <td>{{s.freqrange.all.get}}</td>  
                            <td><a href={% url 'ssi_remove_ssilist' s.id %} class="btn btn-danger">Delete</a></td> {% endcomment %}
                        </tr>
                    {% endfor %}
                </tbody> 
            </table>         
        </div>
    </div>
</div>
{{sort}}
{% endblock content %}