{% extends 'app/base.html' %}
{% block content %}
{% load staticfiles %}

<div class="container-fluid">
    <div id="row3" class="row d-flex justify-content-around ">
        <div class="col-md-8 ">
            <form action = "filter/" method="POST" class="post-form "> {% csrf_token %}
                <select id = 'form_select' name="choice" id="id_choice" class="custom-select" >
                <option value = "all" selected>Все диапазоны</option>
                {% for i in freq %}
                    <option value={{i}}>{{i}}</option>
                {% endfor %}
                </select>
                <button type="submit" class="save btn btn btn-primary">Сортировать</button>
            </form>
                <p>
                <img src="{% static 'images/Измерения.PNG' %}" class='img-fluid' width='30' height='30'>
                - Проведенне измерения
                <img src="{% static 'images/Проведенные.PNG' %}" class='img-fluid' width='30' height='30'>
                - Подтвержденные измерения
                <img src="{% static 'images/Не_проверенные.PNG' %}" class='img-fluid' width='30' height='30'>
                - Не проверенные измерения</p>
            <table id ='tableSSI' class="table table-bordered ">
                <thead class="thead-light">
                    <tr>
                        <th>Имя SSI</th>
                        <th>
                            <img src="{% static 'images/Измерения.PNG' %}" class='img-fluid' width='30' height='30'>
                        </th>
                        <th>
                            <img src="{% static 'images/Проведенные.PNG' %}" class='img-fluid' width='30' height='30'>
                        </th>
                        <th>
                            <img src="{% static 'images/Не_проверенные.PNG' %}" class='img-fluid' width='30' height='30'>
                        </th>
                        <th>Входная частота, ГГц</th>
                        <th>Выходная частота, ГГц</th>
                        <th>Полоса частот, МГц</th>
                        <th>Частотный диапазон</th>
                        <th>Доступные измерения</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in SSI %}
                <tr >
                    <td>
                        <a href={% url 'ssi_detail' i.name %}>{{i.name}}</a>
                    </td>
                    <td>{{i.meas.all.count}}</td>
                    <td >
                        {% for j in  dict_ad.items%}
                            {% if i.name in j %}
                                {{ j|last }}
                            {% endif %}
                        {% endfor %}    
                    </td>
                    <td>
                        {% for j in  dict_ad_0.items%}
                            {% if i.name in j %}
                                {{ j|last }}
                            {% endif %}
                        {% endfor %}   
                    </td>
                    <td>{{i.input_frequency}}</td>
                    <td>{{i.output_frequency}}</td>
                    <td>{{i.band_frequency}}</td>
                    <td>{{i.freqrange.get.name}}</td>
                    <td>
                    {% for meas in i.available_meas.all %}
                        <a href={% url 'name_meas' meas.name i.name%}>{{meas.name}}</a> 
                    {% endfor %}
                    </td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            <div class="col-md-4">
                <form action ="{% url 'make_measures' %}"  method="POST" class="post-form "> {% csrf_token %}
                        {{form_for_device.choose}}
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Имя SSI</th>
                                <th>Тип измерений</th>
                                <th>Время добавления</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in  planed_measure%}
                            <tr>
                                <th scope="row">{{i.ssi}}</th>
                                <td>{{i.meastype}}</td>
                                <td>{{i.date_time}}</td>
                                <td><a href={% url 'ssi_remove' i.id%} class="btn btn-danger">Удалить</a></td>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="save btn btn-primary">Провести измерения</button>
                </form> 
            </div>
        </div>  
    </div>
</div>

{% endblock content %}