{% extends 'app/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Список созданных ключей:</th>
                        <th>Действия:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in key %}
                        <tr>
                            <td>
                                <div>{{i}}</div>
                            </td>
                            <td>
                                <a href={% url 'remove_key' i.id %} class="btn btn-danger">Удалить ключ</a>
                            </tg>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}