{% extends 'app/base.html' %}
{% block content %}
<div class="container">
    <canvas id="myChart"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',
            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'Характеристики',
                    backgroundColor: 'rgb(54, 162, 235, 0.5)',
                    borderColor: 'dark',
                    data: [45, 10, 5, 2, 20, 30, 0]
                }]
            },
            // Configuration options go here
            options: {}
        });
    </script>
    <script type = 'text/javascript'>
        const axios = require('axios');
        const getExchangeRate = async (fromCurrency, toCurrency) => {}
        const response = await axios.get('http://127.0.0.1:8000/get/meastype_info/gd/SSI_2/6/');
        const rate = response.data.quotes;
    </script>
</div>
{% endblock content %}

