{% extends 'app/base.html' %}
{% block content %}

<div class='container-fluid'>
    <div class="row">
        <div class="col-md">
            <table class="table table-bordered " >
                <thead>
                    <tr>
                        <th>Название измерения:</th>
                        <th>Название конфигурации:</th>
                        <th>Полученные данные x,y:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{mt_name}}</th>
                        <td>{{ssi_name}}</td>
                        <td>{{data.xy}}</td>
                    </tr>
                </tbody>
            </table>
            <a href={% url 'measure_remove' data.id%} class="btn btn-danger">Delete measure</a>
            <a href={% url 'm_graph' data.id mt_name %} class="btn btn-success">Показать график</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}