{% extends 'app/base.html' %}
{% block content %}

<div class='container-fluid'>
    <div class="row">
        <div class="col-md">
            <table class="table table-bordered " >
                <thead>
                    <tr>
                        <th>Название измерения:</th>
                        <th>Название конфигурации:</th>
                        <th>Полученные данные x,y:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{mt_name}}</th>
                        <td>{{ssi_name}}</td>
                        <td>{{data.xy}}</td>
                    </tr>
                </tbody>
            </table>
                <div class="row">
                    <div class="col-2">
                    <a href={% url 'measure_remove' data.id %} class="btn btn-danger">Удалить измерение</a>
                    </div>
                    <div class="col-2">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label text-success" for="customRadio1">Измерения проведены</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label text-danger" for="customRadio2">Измерения отсутствуют</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                            <label class="custom-control-label text-secondary" for="customRadio3">Не проверено!</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    <canvas id="myChart"></canvas>
    <script>
        async function getdata(){
            let response = await fetch('{%url "graph" data_id mt_name %}')
            let data = await response.json()
            return data
        }    
        var m;
        async function gt(){
            m = await getdata()
            var ctx = document.getElementById('myChart').getContext('2d');
            // Global Options
            Chart.defaults.global.defaultFontFamily = 'Lato';
            Chart.defaults.global.defaultFontSize = 18;
            Chart.defaults.global.defaultFontColor = '#777';

            var chart = new Chart.Scatter(ctx, {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    datasets: [{
                        label: 'Характеристика',
                        backgroundColor: 'rgb(54, 162, 235)',
                        borderColor: 'dark',
                        data: m
                    }]
                },
                // Configuration options go here
                options: {}
            });
        }
        gt()
    </script>
</div>
{% endblock content %}