{% extends 'app/base.html' %}
{% block content %}

<div class='container-fluid'>
    <div class="row">
        <div class="col-md">
            <table class="table table-bordered " >
                <thead>
                    <tr>
                        <th>Название измерения:</th>
                        <th>Название конфигурации:</th>
                        <th>Время измерения:</th>
                        <th>Ключи:</th>
                        <th>Оператор:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{mt_name}}</th>
                        <td><a href={% url 'ssi_detail' ssi_name %}>{{ssi_name}}</a></td>
                        <td>{{data.measurement_data.time}}</td>
                        <td>{{keys.key}}</td>
                        <td>{{user}}</td>
                    </tr>
                </tbody>
            </table>
                <div class="row">
                    <div class="col-2">
                        <a href={% url 'measure_remove' data.id %} class="btn btn-danger">Удалить измерение</a>
                    </div>
                        <div class="col-8 ">
                            <a href={% url 'valid' mt_name ssi_name data.id "2" %} class="btn btn-success btn-sm ">Измерения проведены</a>
                            <a href={% url 'valid' mt_name ssi_name data.id "1" %} class="btn btn-danger btn-sm ">Измерения не проведены</a>
                            <a href={% url 'valid' mt_name ssi_name data.id "0" %} class="btn btn-dark btn-sm ">Не проверено!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    <canvas id="myChart"></canvas>
    <script>
        async function getdata(){
            let response = await fetch('{%url "graph" data_id mt_name %}')
            let data = await response.json()
            return data
        }    
        var m;
        async function gt(){
            m = await getdata()
            var ctx = document.getElementById('myChart').getContext('2d');
            // Global Options
            Chart.defaults.global.defaultFontFamily = 'Lato';
            Chart.defaults.global.defaultFontSize = 18;
            Chart.defaults.global.defaultFontColor = '#777';

            var chart = new Chart.Scatter(ctx, {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    datasets: [{
                        label: 'Характеристика',
                        backgroundColor: 'rgb(54, 162, 235)',
                        borderColor: 'dark',
                        data: m
                    }]
                },
                // Configuration options go here
                options: {}
            });
        }
        gt()
    </script>
</div>
{% endblock content %}