{% extends 'app/base.html' %}
{% block content %}

<div class="container-fluid">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Имя SSI</th>
                <th>Входная частота</th>
                <th>Выходная частота</th>
                <th>Измерения</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ssi.name}}</th>
                <td>{{ssi.input_frequency}}</td>
                <td>{{ssi.output_frequency}}</td>
                <td>
                    {% for me in ssi.meas.all %}
                    <p class="small">{{me.meastype.name}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endfor %}
{% endblock content %}